# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/score-api/node_modules
/score-app/node_modules
/score-api/.pnp
/score-app/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/score-app/.next/
/score-app/out/

# production
/score-app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
